
MAIL_USERNAME=
MAIL_PASSWORD=

# Example:
# DB_URL=jdbc:mysql://your-rds-endpoint.ap-south-1.rds.amazonaws.com:3306/quickvote?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_URL=jdbc:mysql://your-rds-endpoint:3306/quickvote?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=your-rds-username
DB_PASSWORD=your-rds-password

JWT_SECRET=
