
MAIL_USERNAME=
MAIL_PASSWORD=

MYSQL_DATABASE=quickvote
MYSQL_ROOT_PASSWORD=change-this-root-password

DB_URL=jdbc:mysql://mysql:3306/quickvote?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=quickvote_user
DB_PASSWORD=change-this-db-password

JWT_SECRET=
